PORT=3001
DB_PATH=./agents.sqlite
TREASURY_PUBKEY=DPPrAbtdtbqXM7t9gpxbDpTCoG63e8jLRKFd7bziJZEH
JUPITER_FEE_ACCOUNT=B4JKLWPNCjbBfhvYBAPcdCk3PofrqQME1Evhq9HoPshE
HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=1c31d5dc-ba7e-41bd-b496-3ff8c114c7dc
LOG_LEVEL=info
